
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "宋体", "黑体";
    overflow: hidden;
    font-size: 12px;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}

.bankCardBox{
    width: 100%;
    height: 100%;
}

.bankCardBox .tableDiv{
    width: 100%;
    height: 500px;
}

.datagrid-header td {
    background: #E5EAF1;
    border-color: rgba(255, 255, 255, 0.5);
    color: #3C4F66;
}

.datagrid-header-row, .datagrid-row {
    height: 36px;
    text-align: center;
}

.datagrid-header td:last-child, .datagrid-body td:last-child, .datagrid-footer td:last-child {
    border-right: none;
}

.datagrid-row:nth-child(odd) {
    background: #fff;
}

.datagrid-row:nth-child(even) {
    background: #fafafa;
}

.datagrid-body td, .datagrid-footer td {
    border-color: #E5E5E5;
}

.datagrid-header td {
    background: #eff2f6;
    border-color: #CED3DB;
}

.datagrid-header td, .datagrid-body td, .datagrid-footer td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    margin: 0;
    padding: 0;
}

.panel-body {
    border: solid 1px #CDCDCD;
}

.datagrid-htable, .datagrid-btable, .datagrid-ftable {
    color: #666;
}

.pagination-num {
    width: 24px !important;
    height: 20px !important;
}

.datagrid-row button {
    background: #fff;
    border: 1px solid #4688d0;
    color: #4688d0;
    font-size: 12px;
    height: 21px;
    line-height: 20px;
    padding: 0 8px;
    transition: all 0.1s linear 0s;
    width: 48px;
}

.datagrid-row button:hover, .datagrid-row button.active {
    color: #fff;
    background: #4688D0;
}

.datagrid-pager {
    background: #F1F2F5;
}

.datagrid .datagrid-pager {
    border-radius: 0;
    border-top: medium none;
}

.datagrid-header td:hover {
    background: #e5eaf1;
    color: #3c4f66;
}

.datagrid-row-over,
.datagrid-header td.datagrid-header-over {
    /*background: #F2F5F8;*/
    color: #666;
    cursor: default;
}

.datagrid-row-selected {
    color: #666;
}

.datagrid-row-checked .datagrid-row-selected {
    color: #666;
}

.pagination {
    color: #666;
}

.pagination-page-list {
    padding: 0 2px;
}

.pagination .pagination-num {
    padding: 0 2px;
}

.pagination-btn-separator {
    border: none;
}

.pagination-prev {
    background: rgba(0, 0, 0, 0) url("../images/pagination_icons.png") no-repeat scroll -13px center;
}

.pagination-first {
    background: rgba(0, 0, 0, 0) url("../images/pagination_icons.png") no-repeat scroll 2px center;
}

.pagination-next {
    background: rgba(0, 0, 0, 0) url("../images/pagination_icons.png") no-repeat scroll -26px center;
}

.pagination-last {
    background: rgba(0, 0, 0, 0) url("../images/pagination_icons.png") no-repeat scroll -44px center;
}

.pagination-load {
    background: rgba(0, 0, 0, 0) url("../images/pagination_icons.png") no-repeat scroll -60px center;
}

.datagrid-htable td div, .datagrid-btable td div {
    margin: 0 auto;
}